@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Caveat+Brush&family=Coming+Soon&family=Dancing+Script:wght@700&family=Fredericka+the+Great&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Pacifico&family=Passion+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,800&family=Raleway:wght@200;400;700&family=Rubik+Moonrocks&family=Rubik:wght@300;400&family=Russo+One&display=swap');
/*--------------------------------------------------------------
google fonts
font-family: 'Bangers', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Passion One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Russo One', sans-serif;
--------------------------------------------------------------*/

:root {
  --color-bg: #203042;
  --color-bg-alpha: rgba(32, 48, 66, 0.8);
  --color-bg-pink: #FF5C56;
  --color-bg-yellow: #FFD67B;
  --color-bg-ligtblue: #96E9FF;
  --color-bg-blue: #89ADFF;
  --color-pink: #C0433E;
  --color-yellow: #FFDA62;
  --color-lightblue: #556DA3;
  --color-blue: #497480;
  --color-wht-alpha: rgba(255, 255, 255, 0.8);
  --fontfam-p: 'Poppins', sans-serif;
  --fontfam-h: 'Bangers', cursive;
  --fontfam-type: 'Courier New', Courier, monospace;
  --font-h1: 3.8rem;
  --font-h2: 3.2rem;
  --font-h3: 1.6rem;
  --font-p: 1.2rem;
}


html {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*when the screen is BIGGER for pc */
@media (min-width: 800px) {
    :root {
        --font-h1: 4.2rem;
        --font-h2: 3.75rem;
        --font-h3: 2rem;
        --font-p: 1.5rem;
    }
}

body {
    background-color: var(--color-lightblue);
    color: var(--color-wht-alpha);
    font-family: var(--fontfam-p);
    font-size: var(--font-p);
    line-height: 1.4;
    margin: 0;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
    font-family: var(--fontfam-h);
    font-weight: 100;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
    font-weight: 600;
}

.section__title {
    margin: 0;
}

.section__subtitle {
    margin: 0;
    font-size: var(--font-h3);
}

.section__subtitle--intro,
.section__subtitle--works {
    background: var(--color-wht-alpha);
    color:rgba(32, 48, 66, 0.8);
    font-weight: 300;
}


/* header */
nav { display: none; }    

.intro {
    position: relative;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
    }
}

